@import "_base/reset"
@import "_base/grid"

@import "header/header"
@import "head-line/head-line"
@import "slider/slider"
@import	"section-work/section-work"
@import	"advantages/advantages"
@import	"feedback/feedback"
@import "footer/footer"
@import "_base/navigation"