mixin section-work()
  div.section
    div.portfolio
      div.portfolio__container
        div.portfolio__text
          div.portfolio__text-header Наша работа
          div.separator
            img(src="/img/separator.png")
          div.portfolio__text-desc
            |It is a long established fact that a reader will be distracted by 
            |the readable content of a page when looking at its layout. If you 
            |are going to use a passage of Lorem Ipsum. Lorem ipsum dolor sit 
            |amet, consectetur adipiscing elit. 
        div.portfolio__projects
          a(href="#")
            div.portfolio__img
              div.portfolio__img-preview
                div.portfolio__img-header Название работы
                div.portfolio__separator
                  img(src="/img/separator.png")
                div.portfolio__img-desc Описание работы
          a(href="#")
            div.portfolio__img
              div.portfolio__img-preview
                div.portfolio__img-header Название работы
                div.portfolio__separator
                  img(src="/img/separator.png")
                div.portfolio__img-desc Описание работы
          a(href="#")
            div.portfolio__img
              div.portfolio__img-preview
                div.portfolio__img-header Название работы
                div.portfolio__separator
                  img(src="/img/separator.png")
                div.portfolio__img-desc Описание работы
          a(href="#")
            div.portfolio__img
              div.portfolio__img-preview
                div.portfolio__img-header Название работы
                div.portfolio__separator
                  img(src="/img/separator.png")
                div.portfolio__img-desc Описание работы
          a(href="#")
            div.portfolio__img
              div.portfolio__img-preview
                div.portfolio__img-header Название работы
                div.portfolio__separator
                  img(src="/img/separator.png")
                div.portfolio__img-desc Описание работы
          a(href="#")
            div.portfolio__img
              div.portfolio__img-preview
                div.portfolio__img-header Название работы
                div.portfolio__separator
                  img(src="/img/separator.png")
                div.portfolio__img-desc Описание работы