#fp-nav
  a
    cursor: pointer
    height: 18px
    width: 18px
    margin: 0 2px
    background-color: #28363d
    border-radius: 50%
    z-index: 186
    &.active
      background-color: #ff8207
  span
    display: none