mixin advantages()
  div.section
    div.advantages
      div.advantages__container
        div.advantages__text
          div.advantages__text-header Почему мы
          div.separator
            img(src="/img/separator.png")
          div.advantages__text-desc
            |It is a long established fact that a reader will be distracted by 
            |the readable content of a page when looking at its layout. If you 
            |are going to use a passage of Lorem Ipsum. Lorem ipsum dolor sit 
            |amet, consectetur adipiscing elit. 
        div.advantages__content
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv1.png")
            div.advantages__item-header Преимущество 1
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv2.png")
            div.advantages__item-header Преимущество 2
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv3.png")
            div.advantages__item-header Преимущество 3
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv4.png")
            div.advantages__item-header Преимущество 4
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv5.png")
            div.advantages__item-header Преимущество 5
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv6.png")
            div.advantages__item-header Преимущество 6
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv7.png")
            div.advantages__item-header Преимущество 7
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.
          div.advantages__item
            div.advantages__item-img
              img(src="/img/adv8.png")
            div.advantages__item-header Преимущество 8
            div.advantages__item-desc 
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              | vel mi nec sapien fringilla sollicitudin.