mixin footer()
  div.section.fp-auto-height
    div.btn-up
    div.footer__container
      div.footer__content
        div.footer__logo
          div.footer__logo-img
            img(src="/img/Layer_1.png")
          div.separator
            img(src="/img/separator.png")
          div.footer__logo-text Дисклеймер компании
        div.footer__media
          div.footer__media-text Мы в соцсетях
          div.separator
            img(src="/img/separator.png")
          div.footer__media-icons
            img(src="/img/inst.png")
            img(src="/img/twi.png")
            img(src="/img/fb.png")
        div.footer__contacts
          div.footer__contacts-header Адрес
          div.separator
            img(src="/img/separator.png")
          div.footer__contacts-text г. Минск, ул. Скрыганова, 6А, 4 этаж
      div.footer__copyrights Copyrights 2015 © Webcom Media