mixin slider()
  div.section
    div.slideshow__container
      div.slideshow__control-left
        img(src="/img/chevron6.png")
      div.slideshow__content
        div.slideshow__content-top
          div.slideshow__header Главный заголовок
          div.slideshow__divider
            hr
            img(src="/img/Rectangle_1.png")
            hr
          div.slideshow__text
            div.slideshow__item 
              |Lorem Ipsum is simply dummy text of the printing and typesetting 
              | ndustry. Lorem Ipsum has been the industry's standard dummy text 
              |ever since the 1500s, when an unknown printer took a galley of type 
              |and scrambled it to make a type specimen book. 
            div.slideshow__item 
              |There are many variations of passages of Lorem Ipsum available, but 
              |he majority have suffered alteration in some form, by injected 
              |humour, or randomised words which don't look even slightly 
              |believable. If you are going to use a passage of Lorem Ipsum.
            div.slideshow__item
              |It is a long established fact that a reader will be distracted by 
              |the readable content of a page when looking at its layout. The 
              |point of using Lorem Ipsum is that it has a more-or-less normal 
              |distribution of letters, as opposed to using 'Content here.
            div.slideshow__item
              |Fusce non urna ut leo semper ultrices in ut lectus. Duis fringilla 
              |ante eu arcu eleifend ornare. Ut tincidunt pellentesque turpis at 
              |consequat. Sed velit lorem, facilisis in augue sed, fringilla 
              |tincidunt nulla. Neque porro quisquam est qui dolorem ipsum 
              |quia dolor sit amet, consectetur, adipisci velit...
            div.slideshow__item
              |Suspendisse ut justo scelerisque, convallis diam quis, aliquet 
              |ipsum. Vestibulum at nisi purus. Donec eu nunc ligula. In hac 
              |habitasse platea dictumst. In sit amet libero dignissim, sodales 
              |urna non, pellentesque dolor. Lorem ipsum dolor sit amet, 
              |consectetur adipiscing elit. 
        div.slideshow__content-bottom
          div.slideshow__btn-request Оформить заявку
          div.slideshow__dots
            div.slideshow__dots-element
            div.slideshow__dots-element
            div.slideshow__dots-element
            div.slideshow__dots-element
            div.slideshow__dots-element
          div.slideshow__btn-down
            img(src="/img/icon_arrow.png")
      div.slideshow__control-right
        img(src="/img/chevron6.png")